.App {
  text-align: left;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: orangered;
}

.App-link {
  color: #61dafb;
}

#editor {
  overflow-wrap: break-word;
}

#secao {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

#preview {
  width: 600px;
  background-color: gainsboro;
}

code {
  background-color: gainsboro;
}

Markdown {
  text-align: left;
}
